---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Lagoon Masáže – Mladá Boleslav">

  <section
    style="background-image: url('/hero.jpg')"
    class="relative w-full min-h-dvh bg-cover bg-center"
  >
    <div class="absolute inset-0 bg-black/40"></div>
  </section>

</Layout>